/*headers icons*/

.youtube-logo, 
.search-icon, 
.hamburger-icon,  
.upload-icon, 
.youtube-apps-icon, 
.notification-icon,
.create-icon,
.voice-search-icon
 {
  height: 24px;
  cursor: pointer;
}
.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.voice-search-icon:hover {
  background-color:rgb(207, 207, 207); 
  height: 30px;
  border-radius: 50%;
}

/*Sidebars icons*/
.sidebar-icons {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}